<launch>

        <include file="$(find rm_detector)/launch/armor_detector.launch"/>

        <node pkg="nodelet" type="nodelet" name="rm_radar"
              args="load rm_radar/Lidar nodelet_manager" output="screen">
                <rosparam file="$(find rm_radar)/config/camera_left.yaml" command="load" ns="camera_left_config"/>
                <param name="camera_name" value="camera_left"/>
                <rosparam file="$(find rm_radar)/config/map.yaml" command="load" ns="UI/map_config"/>
        </node>

        <include file="$(find livox_ros_driver)/launch/livox_lidar.launch"/>

</launch>
